=flexColumn()
  display: flex
  flex-direction: column

.form
  width: 100%
  box-sizing: border-box
  place-items: center
  +flexColumn()

.label
  width: 50%
  box-sizing: border-box
  margin: 5px
  +flexColumn()

.back_button
  width: 50%
  box-sizing: border-box
  margin: 5px