=flexCenter()
  display: flex
  place-items: center
  place-content: center 

.wrapper
  +flexCenter()
  background-color: rgba(0,0,0,0.5)
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0

.box
  +flexCenter()
  width: 30%
  height: 30%
  background-color: #f6f6f6

.form
  +flexCenter()
  width: 100%
  height: 100%
  margin: 0px 20px
  flex-direction: column

.label
  +flexCenter()
  width: 100%
  height: 100%
  margin: 20px 0px
  flex-direction: column

.text_area
  width: 100%
  height: 100%

.input
  width: 100%
  margin-bottom: 20px