.wrapper
  margin: 20px
  display: flex
  flex-direction: row
  overflow-x: auto

.title_box
  width: 200px
  height: 200px
  margin: 5px
  border: 1px solid black

.progress_tab
  width: 80px
  height: 200px
  margin: 5px
  border: 1px solid black

